.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  color: #636B81;
  font-size:18px;
  font-family:Microsoft YaHei;
  font-weight:400;
  margin-right: 16px;
}

.input {
  width:300px;
  height:50px;
  background:rgba(248,250,251,1);
  border-radius:6px;
  line-height: 50px;
  border: none;
  color:rgba(43,46,55,1);
}

.detailsWrapper {
  display: flex;
  
  margin-bottom: 30px;
}

.text {
  width:1278px;
  height:463px;
  background:rgba(248,250,251,1);
  border-radius:6px;
  border: none;
  font-size:18px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(43,46,55,1);
}

