.operate {
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
  cursor: pointer;
}

.update {
  composes: operate;
  color: #36CA94;
}

.delete {
  composes: operate;
  color: #FF3B3B;
}

.submitBtn {
  width:175px;
  height:50px;
  background:rgba(107,131,255,1);
  border-radius:6px;
  font-size:18px;
}
