/* 抽离常用的公共样式 */

.pageHeaderBtn {
  color: unset;
  margin-left: 10px;
}
.pageHeaderBtn:hover {
  color: unset;
}

.wrapper {
  width: 1470px;
  padding: 39px 48px 18px 39px;
  max-height: 850px;
  overflow-y: auto;
  background-color: #ffffff;
}

.okButton {
  width:175px;
  height:50px;
  background:rgba(107,131,255,1);
  border-radius:6px;
  font-size:18px;
}

.inputBorder {
  width: 450px;
  height: 50px;
  background:rgba(248,250,251,1);
  border-radius:6px;
  line-height: 50px;
  border: none;
  color:rgba(43,46,55,1);
}

.inputWrapper {
  display: flex;
  align-items: center;
  font-size:18px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(43,46,55,1);
  margin: 30px 0;
}

.name {
  font-size:18px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(99,107,129,1);
  margin-right: 20px;
}
