/* 抽离常用的公共样式 */

.pageHeaderBtn {
  color: unset;
  margin-left: 10px;
}
.pageHeaderBtn:hover {
  color: unset;
}

.wrapper {
  width: 1470px;
  padding: 39px 48px 18px 39px;
  max-height: 744px;
  background-color: #ffffff;
}

.okButton {
  width:175px;
  height:50px;
  background:rgba(107,131,255,1);
  border-radius:6px;
  font-size:18px;
}